@model PhoneEntry
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form method="post"  action="/Dict/AddSave">
    <div>
        <div>
            <input name="Name" class="form-control" type="text" placeholder="Name" />
            @Html.ValidationMessageFor(phone=>phone.Name)
        </div>
        <div>
            <input name="Phone" class="form-control" type="text" placeholder="Phone number" />
            @Html.ValidationMessageFor(phone=>phone.Phone)
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Добавить" />
        </div>
    </div>
</form>

<h2>Add</h2>