
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>NotFound</title>
</head>
<body>
    <div>
        AAAAAAAAAAA@Request.HttpMethod @Request.Url
    </div>
</body>
</html>
